<div class="footer">
    <div class="footer">
        <div class="row mt-4 ml-5" align="left"  style="padding-left: 200px;">
            <div class="col-lg-2" align="left">
                <br>
                <h6 class="text-dark">ABOUT</h6>
                <a [routerLink]="['/about']" class="link text-dark">About Us</a>
            </div>
            
            <div class="col-lg-2" align="left"><br>
                <h6 class="text-dark">SOCIAL</h6>
                <a href="#" class="link text-dark">Facebook</a><br>
                <a href="#" class="link text-dark">Twitter</a><br>
                <a href="#" class="link text-dark">YouTube</a><br>
            </div>
            <div>
                <div class="vl"></div>
            </div>
            <div class="col-lg-3 ml-5" align="left"><br>
                <h6 class="text-dark">Mail Us:</h6>
                <p class="text-dark">COLORSHOT Internet Private Limited, Buildings Alyssa, Begonia & Clove Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village, Bengaluru, 560103, Karnataka, India.</p>
            </div>
            <div class="col-lg-3" align="left"><br>
                <h6 class="text-dark">Registered Office Address:</h6>
                <p class="text-dark">COLORSHOT Internet Private Limited, Buildings Alyssa, Begonia & Clove Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village, Bengaluru, 560103, Karnataka, India CIN : U51109KA2012PTC066107 Telephone: 1800 208 9898</p>
            </div>
        </div>
        <hr>
        <div class="row" align="center" class="d-flax flex-colum justify-content-center"><br>
            <div class="col-lg-3" align="center">
                <a href="#" ><i class="fa fa-copyright text-dark"></i><span class="text-dark">2019 colorshot.com.</span></a>
            </div>
        </div>
        <br>
    </div>
</div>